.form {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 50px 40px;
    box-shadow: 0px 0px 1px -2px rgb(255, 255, 255);
    border-radius: 10px;
    .form-header {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 992px) {
    .form {
        padding: 30px 10px;
        .form-header {
            font-size: 20px;
        }
    }
}